<h1>Listing sessions</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Session date</th>
    <th>Session start</th>
    <th>Session end</th>
    <th>Description</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sessions.each do |session| %>
  <tr>
    <td><%= session.course %></td>
    <td><%= session.session_date %></td>
    <td><%= session.session_start %></td>
    <td><%= session.session_end %></td>
    <td><%= session.description %></td>
    <td><%= session.location %></td>
    <td><%= link_to 'Show', session %></td>
    <td><%= link_to 'Edit', edit_session_path(session) %></td>
    <td><%= link_to 'Destroy', session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Session', new_session_path %>
