<%= form_for(@course_session) do |f| %>
  <% if @course_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @course_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course %><br />
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <%= f.label :course_session_date %><br />
    <%= f.date_select :course_session_date %>
  </div>
  <div class="field">
    <%= f.label :course_session_start %><br />
    <%= f.time_select :course_session_start %>
  </div>
  <div class="field">
    <%= f.label :course_session_end %><br />
    <%= f.time_select :course_session_end %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
