<%= form_for(@course_session) do |f| %>
  <% if @course_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @course_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= hidden_field_tag :course_id,@course.id %>





<br />
  <table class="field" width="100%" >
    <tr>
      <td width="30%"><%= f.label :course_session_date,"On what date?" %></td>
      <td width="30%"><%= f.label :course_session_start, "Starting at this time..." %></td>
      <td><%= f.label :course_session_end, "and ending at..." %></td>
    </tr>
    <tr>
      <td>
	<%= f.text_field :course_session_date, {:class=>'datepicker'}%>
	<script type="text/javascript">
	  $(document).ready(function(x){
	  $('.datepicker').datepicker({format:'yyyy-mm-dd'});
	  });
	</script>
      </td>
      <td>
	<%= f.select :course_session_start_hour, options_for_select(reasonable_hours(),@course_session_start_hour), {},{:class=>'timeselect'} %>
	<%= f.select :course_session_start_minutes, options_for_select([['00','00'],['30','30']],@course_session_start_minutes), {},{:class=>'timeselect'} %>
	</td>
      <td>
	<%= f.select :course_session_end_hour, options_for_select(reasonable_hours(),@course_session_end_hour), {}, {:class=>'timeselect'}   %>
	<%= f.select :course_session_end_minutes, options_for_select([['00','00'],['30','30']],@course_session_end_minutes), {}, {:class=>'timeselect'} %>
      </td>
    </tr>
    </table>

    
<br />
  <div class="field">
    <%= f.label :description, "Description of this particular session (optional, can be edited later)" %>
      <%= f.cktext_area :description,:rows=>5, :class=>"input-xlarge"  %>
  </div>
  <br />
  <div class="field">
    <%= f.label :location,"Location of this session?" %><br />
    <%= f.collection_select :location_id, Location.all, :id, :name %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
