<ul style="clear:right;">
<% @courses.each do |course| %>
  <li class="course">
    <div class="small_course_sessions">
      <ul>
	<% i=0 %>
	<% course.course_sessions.each do |cs| %>
	<% if ! (cs.course_session_start < DateTime.now) %>
	   <% if i<=2 %>
	<li><%= compact_readable(cs) %></li>
	<% elsif i==2 %>
	<% remaining=course.course_sessions.where('course_session_start>?',DateTime.now).size-3 %>
	   and 
	   <%= remaining %>
	   more 
	   session<%= 's' if remaining>1%>
	<% end %>
	<% i=i+1 %>
	<% end %>
    <% end %>
    </ul>
    (<%= course.course_sessions.find(:first).location.name unless (course.course_sessions.find(:first).nil? || course.course_sessions.find(:first).location.nil?) %>)
    </div>

    <h3>
      <%= link_to course.name, course %>
      <% if is_mine(course) %>
      <span class="label label-info">I'm teaching this!</span>
      <% end %>
      
      <% if taking_this(course) %>
      <span class="label">I'm signed up for this!</span>
      <% end %>
    </h3>

    <%= raw course.short_description %>
     </li>
<% end %>

</ul>


