
<div class="span8">
  <p id="notice"><%= notice %></p>
  <h1>
    <%= @course.name %>
  </h1>
  
  <p>
    <strong>  <%= raw @course.short_description %></strong>
  </p>

  <p>
    <%= raw @course.long_description %>
  </p>
</div>



<div class="span4">
<div class="well">
<h2>Course sessions</h2>
<ul id="course_sessions">
<% @course.course_sessions.each do |course_session| %>  
<%= render 'course_sessions/listing', :course_session=>course_session %>
<% end %>
</ul>
<% if is_mine(@course) %>
<%= link_to 'Add a session to this course', new_course_course_session_path(@course), :remote=>true %> 
<% end %>
</div>
</div>

