<p id="notice"><%= notice %></p>

<h1>
  <%= @course.name %>
</h1>

<p>
<strong>  <%= raw @course.short_description %></strong>
</p>

<p>
  <%= raw @course.long_description %>
</p>


<% if is_mine(@course) %>
<%= link_to 'Add a session to this course', new_course_course_session_path(@course), :remote=>true %> 
<% end %>
