<!DOCTYPE html>
<html>
<head>
  <title>Freeskool</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar ">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="span12">
	<a href="/" class="brand"><%= image_tag "bfs-logo-grey.png", {:width=>'200px'} %></a> 
	<ul class="hmenu nav">
	<%= render 'devise/menu/registration_items' %>
	<%= render 'devise/menu/login_items' %>
	<% if current_user.has_role? :instructor %>
	<li>
	  <%= link_to "My courses", "/my_courses" %>
	</li>
	<% end %>
	</ul>
      </div>
    </div>
  </div>
</div>

<div id="alerts">
  <%= render 'layouts/messages' %>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <%= yield %>
  </div>
</div>

</body>
</html>
